@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #ffdde3;
  background-image: linear-gradient(to top left, #ffdde3 0%, #fbc1cb 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* StartPage */
.start-page {
  margin: 3em auto;
  text-align: center;
  max-width: 450px;
}

.start-page-title {
  color: #ff0e7c;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
  padding: 0 0 1em 0;
}

.start-page h2 {
  font-size: 1.6rem;
  color: #ff0e7c;
  font-weight: 800;
  margin: 1.5em 0 1em;
}

.start-page p {
  font-size: 1.1rem;
}

/* background-color: #fff7fb; */

.instruction-list {
  background-color: #fff7fb;
  text-align: center;
  border-radius: 20px;
  padding: 1em;
  border: 3px solid #ff0e7c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instruction-list li {
  list-style-type: none;
  padding: 0.5em;
}

.start-game-btn {
  margin: 2em auto;
  display: block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: #ff0e7c;
  padding: 1em 1.8em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.start-game-btn:hover {
  background-color: #e50c6b;
}

/* Game page*/
.game-container {
  margin: 0 auto;
}

.game-container h1 {
  text-align: center;
  padding: 1.5em 0 2em;
  font-size: 3rem;
  font-weight: 800;
}

/* Oink title is set to pink  */
.pink-text {
  color: #ff0e7c;
}

.player-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc3d3;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  padding: 8em;
}

.player-active {
  background-color: rgba(255, 255, 255, 0.7);
}

.player h2 {
  margin-bottom: 1em;
}

.player-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.current-container {
  display: flex;
  flex-direction: column;
  background-color: #ff0e7c;
  padding: 2em 1em;
  color: #fff;
  border-radius: 4px;
}

.die {
  margin: 0 auto;
  width: 80px;
}

.player-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.roll-dice-btn,
.hold-btn,
.reset-btn {
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
  background-color: #ff0e7c;
  padding: 1em 1.8em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.roll-dice-btn:hover,
.hold-btn:hover,
.reset-btn:hover {
  background-color: #e50c6b;
}

/* Media queries */

@media (max-width: 500px) {
  .start-page {
    margin: 2em auto;
    padding: 1em;
  }

  .game-container h1 {
    font-size: 2.3rem;
  }

  .player {
    padding: 2em;
    margin: 0 0.5em;
  }
}
